.Signup-container{
    background-image: linear-gradient(to right,rgba(226, 62, 62, 0.788),#cc937c,#e8ad79);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.heading{
    display: flex;
    justify-content: space-around;
}

.signup-card{
    height: 300px;
    width: 300px;
    background-image:linear-gradient(to left, rgba(122, 154, 223, 0.322),#58a0db,#5168ed);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 5px 10px 5px rgb(199, 53, 53);
    



}
label{
    margin-right: auto;
    margin-left: 15px;
}

.signupform{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.signup-btn{
    height: 40px;
    width: 180px;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right,rgba(47, 119, 201, 0.822),#2ce8cc);
    border-radius: 8px;
}